@font-face {
    font-family: Nunito;
    src: url('../font/Nunito/Nunito-VariableFont_wght.ttf');
}
/* Desktop */
body{
    font-family: Nunito;
    background-color: #443742;
    color: #EDD9A3;
    overflow: hidden;
    user-select: none;
}

.main{
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 50px);
}

.greeting{
    display: grid;
    grid-row: 1;
    grid-column: 1 / 3;
}

.util{
    display: grid;
    grid-column: 3 / 5;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 5vh);
    align-items: center;
}

#date{
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1;
}

#clock{
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

#icon{
    display: grid;
    grid-column: 3;
    grid-row: 2;
    align-items:end;
}
#temp{
    display: grid;
    grid-column: 4;
    grid-row: 2;
    
}

.searchForm{
    margin-top: 5vh;
    display: grid;
    grid-row: 2;
    grid-column: 1 / 5;
    
}
.search{
    background-color: transparent;
    border-style: none;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #CEA07E;
    color: white;
    width: 100%;
}
.search:focus{
    outline: none;
}

/* Links Section */

.links{
    display: grid;
    grid-row: 4 / 6;
    grid-column: 1 / 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 75px);
    align-items: center;
    justify-items: left;
}

.links svg{
    stroke:#EDD9A3;
}
.links a{
    width: 32px;
}

.calendar{
    display: grid;
    grid-row: 1;
    grid-column: 2;
}
.github{
    display: grid;
    grid-row: 1;
    grid-column: 2;
}
.gmail{
    display: grid;
    grid-row: 1;
    grid-column: 3;
}
.youtube{
    display: grid;
    grid-row: 2;
    grid-column: 1;
}
.amazon{
    display: grid;
    grid-row: 2;
    grid-column: 2;
}
.messenger{
    display: grid;
    grid-row: 2;
    grid-column: 3;
}

/* News Section */
#news{
    display: grid;
    grid-row: 4;
    grid-column: 2 / 6;
}

#news h2{
    color: #EDD9A3;
}


#news li{
    list-style-type: none;
    
}

#news a{
    color: #CEA07E;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
}
