/* Mobile Section */
@media only screen and (max-width: 768px){
    .main{
        margin-top: 10vh;
        display: grid;
        grid-row: 1;
        grid-column: 1;
        grid-template-rows: repeat(6, 75px);
        
    }
    .greeting{
        display: grid;
        grid-row: 1;
        grid-column: 1;
    }

    .util{
        display: grid;
        grid-column: 1 / 5;
        grid-row: 2;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 5vh);
        align-items: center;
    }
    
    #date{
        display: grid;
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    #clock{
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }
    
    #icon{
        display: grid;
        grid-column: 3;
        grid-row: 1;
        align-items:end;
    }
    #temp{
        display: grid;
        grid-column: 4;
        grid-row: 1;
        
    }

    .searchForm{
        display: grid;
        grid-row: 3;
    }

    .links{
        display: grid;
        grid-row: 4;
        grid-column: 1 / 6;
        grid-template-columns: repeat(5, 1fr);
        border-bottom-style: solid;
        border-width: 2px;
        border-color: #846C5B;
        align-items: center;
        justify-items: center;
    }

    .messenger{
        display: none;
    }

    #news{
        margin-top: 2vh;
        display: grid;
        grid-row: 5;
        grid-column: 1 / 5;
    }

    #icon{
        margin-right: 5px;
    }

}