/* Mobile Section */
@media only screen and (max-width: 768px){
    .main{
        margin-top: 10vh;
        display: grid;
        grid-row: 1;
        grid-column: 1;
        grid-template-rows: repeat(6, 75px);
        
    }
    .greeting{
        display: grid;
        grid-row: 2;
        grid-column: 1 / 6;
        align-items: center;
    }

    .util{
        display: grid;
        grid-column: 1 / 5;
        grid-row: 1;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 5vh);
        align-items: center;
    }
    
    #date{
        display: grid;
        grid-column: 1 / 4;
        grid-row: 3;
        margin-top: 20px;
    }
    
    #clock{
        display: grid;
        grid-column: 1;
        grid-row: 1;
    }

    .weather{
        display: grid;
        grid-column: 4;
        grid-row: 1;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1);
        align-items: center;
    }
    
    #icon{
        display: grid;
        grid-column: 1;
        grid-row: 1;
        align-items:end;
    }
    #temp{
        display: grid;
        grid-column: 2;
        grid-row: 1;
    }
    #sunset{
        font-size: 12px;
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }

    .search{
        width: 100%;
    }

    .searchForm{
        display: grid;
        grid-row: 4;
        align-items: end;
    }

    .links{
        display: grid;
        grid-row: 5;
        grid-column: 1 / 6;
        grid-template-columns: repeat(5, 1fr);
        border-bottom-style: solid;
        border-width: 2px;
        grid-template-rows: 75px;
        border-color: #846C5B;
        align-items: center;
        justify-items: center;
    }

    .messenger{
        display: none;
    }

    #news{
        margin-top: 2vh;
        display: grid;
        grid-row: 6;
        grid-column: 1 / 5;
        padding: 10px;
    }

    #icon{
        margin-right: 5px;
    }

    .convertCase{
        display: none;
    }


    select{
        display: none;
    }

    .btc-price{
        display: grid;
        grid-column: 4;
        grid-row: 2;
        font-size: 16px;
    }
}